
<div id="content">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h3>{{exercicio.nome}}</h3>
			</div>
			<div class="col-md-3">
				<h4>Pontos: 000</h4>
			</div>
		</div>
	</div>
	<p></p>
	<p></p>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p>{{exercicio.descricao}}</p>
			<p>{{alternativa.A.nomeImagem}}</p>
		</div>
	</div>
	<div class="row">
		<div>
			<div class="col-md-12">
				<div id="alternativas">
					<form ng-submit="enviarResposta()">

						<div class="col-md-6">
							<label> <input type="radio" ng-model="resposta"
								id="optionsRadios1" value="A"> <img
								ng-src="../{{alternativa.A.caminhoImagem}}/{{alternativa.A.nomeImagem}}"
								class="img-responsive img-thumbnail" alt="">
							</label>
						</div>
						<div class="col-md-6">
							<label> <input type="radio" ng-model="resposta"
								id="optionsRadios2" value="B"> <img
								ng-src="../{{alternativa.B.caminhoImagem}}/{{alternativa.B.nomeImagem}}"
								class="img-responsive img-thumbnail" alt="">
							</label>
						</div>
						<div class="col-md-6">
							<label> <input type="radio" ng-model="resposta"
								id="optionsRadios3" value="C"> <img
								ng-src="../{{alternativa.C.caminhoImagem}}/{{alternativa.C.nomeImagem}}"
								class="img-responsive img-thumbnail" alt="">
							</label>
						</div>
						<div class="col-md-6">
							<label> <input type="radio" ng-model="resposta"
								id="optionsRadios4" value="D"> <img
								ng-src="../{{alternativa.D.caminhoImagem}}/{{alternativa.D.nomeImagem}}"
								class="img-responsive img-thumbnail" alt="">
							</label>
						</div>
						<button class="btn btn-small btn-primary" type="submit">Enviar
							Resposta</button>
					</form>
				</div>
				<p></p>
				<p></p>
				<div class="row">
					<div class="col-md-12">
						<div ng-show="mensagem" class="alert alert-{{status}}"
							role="alert">{{mensagem}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>